<!DOCTYPE html>
<html>
<head>
	<title>Acme Employees</title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<H1> Acme {{title}}	</H1>
<div id = 'nav-items' class='collapse navbar-collapse' >
	<ul class='nav navbar-nav'>
		<li><a href="/">Home</a></li>
		<li><a href="/departments">Departments - ( Default: {{defDept}} )</a></li>
		<li><a href="/customers">Customers</a></li>
		
	</ul>
</div>

<div class = "container content">
	{% block content %}{% endblock%}
</div>



</body>
</html>